Scoreboard

In [ ]:
def scoreboard(score_string: str) -> list[int]:
    score = []
    strings = score_string.split()
    numbers = {"nil": 0, "one": 1, "two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9}
    for s in strings:
        for x in numbers:
            if x == s:
                score.append(x)
    return [numbers.get(score[0]), numbers.get(score[1])]

In [37]:
scoreboard("The score is four nil")
#scoreboard("new score: two three")
#scoreboard("two two")
#scoreboard("Arsenal just conceded another goal, two nil")

[4, 0]

Filter

In [68]:
def filter_list(l):
    result = []
    for x in l:
        if type(x) is int:
            result.append(x)
    return result

In [71]:
filter_list([1, 2, 'aasf', '1', '123', 123])

[1, 2, 123]

Min Max aus Str

In [ ]:
def high_and_low(numbers):
    str = numbers.split()
    x = [int(n) for n in str]
    mini = min(x)
    maxi = max(x)
    return f"{maxi} {mini}"

In [102]:
high_and_low("8 3 -5 42 -1 0 0 -9 4 7 4 -4")

'-9 42'

Coffee

In [113]:
def divisible_count(x, y, k):
    result = []
    for i in range(x,y+1):
        if i % k == 0:
            result.append(i)
    return len(result)

In [114]:
divisible_count(6,11,2)

3

Variance

In [ ]:
def variance(numbers): 
    mean = sum(numbers)/len(numbers)
    num = [(x-mean)**2 for x in numbers ]
    return sum(num) / len(num)

In [128]:
variance([-10, 0, 10, 20, 30])

200.0

Reverse Words

In [ ]:
def reverse_words(text):
    string = text.split()
    result = []
    for i in string:
        result.append(i[::-1])
    return result

In [167]:
def reverse_words(text):
    # Split an jedem einfachen ' ' (Space), liefert auch leere Strings
    parts = text.split(' ')
    print(parts)
    # Jedes Teil-Element umdrehen
    reversed_parts = [part[::-1] for part in parts]
    # Wieder mit ' ' zu einem String zusammenfÃ¼gen
    return ' '.join(reversed_parts)

In [168]:
reverse_words('The quick brown fox jumps over the lazy dog.')
reverse_words("double  spaces")

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']
['double', '', 'spaces']

'elbuod  secaps'

In [ ]:
def number2words(n):
    dic = {0: "zero", 1: "one" , 2 : "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine", 10: "ten",
            11: "eleven", 12: "twelve", 13: "thirteen", 14: "fourteen", 15: "fithteen", 16: "sixteen", 17: "seventeen", 18: "eightteen", 19: "nineteen",
            20: "twenty", 30: "thirty", 40: "fourty", 50: "fifthy", 60: "sixty", 70: "seventy", 80: "eighty", 90: "ninety"
            }
    string = str(n)

    if n in dic:
        return dic[n]
    if len(string) == 2 :
        zehner = int(string[0]) * 10
        if int(string[1]) != 0:
            einer = int(string[1])
        return f"{dic[zehner]}-{dic[einer]}"
    if len(string) == 3 :
        hunderter = number2words(int(string[:-2])) 
        if int(string[1:]) != 0:
            zehner = number2words(int(string[1:]))
            return f"{hunderter} hundred {zehner}"
        else:
            return f"{hunderter} hundred"
    if len(string) > 3:
        thousander = number2words(int(string[:-3]))
        if int(string[-3:]) != 0:
            under = number2words(int(string[-3:]))
            return f"{thousander} thousand {under}"
        else:
            return f"{thousander} thousand"

In [ ]:
number2words(0)  ==>  "zero"
number2words(1)  ==>  "one"
number2words(9)  ==>  "nine"
number2words(10)  ==>  "ten"
number2words(17)  ==>  "seventeen"
number2words(20)  ==>  "twenty"
number2words(21)  ==>  "twenty-one"
number2words(45)  ==>  "forty-five"
number2words(80)  ==>  "eighty"
number2words(99)  ==>  "ninety-nine"
number2words(100)  ==>  "one hundred"
number2words(301)  ==>  "three hundred one"
number2words(799)  ==>  "seven hundred ninety-nine"
number2words(800)  ==>  "eight hundred"
number2words(950)  ==>  "nine hundred fifty"
number2words(1000)  ==>  "one thousand"
number2words(1002)  ==>  "one thousand two"
number2words(3051)  ==>  "three thousand fifty-one"
number2words(7200)  ==>  "seven thousand two hundred"
number2words(7219)  ==>  "seven thousand two hundred nineteen"
number2words(8330)  ==>  "eight thousand three hundred thirty"
number2words(99999)  ==>  "ninety-nine thousand nine hundred ninety-nine"
number2words(888888)  ==>  "eight hundred eighty-eight thousand eight hundred eighty-eight"

In [428]:

number2words(888888)

'eight hundred eighty-eight thousand eight hundred eighty-eight'

String in String

In [454]:
def name_in_str(strng : str, name : str) -> bool:
    strng = strng.replace(" ","")
    strng = strng.lower()
    name = name.lower()
    for n in name:
        found = strng.find(n)
        if found == -1:
            return False
        else:
            strng = strng[found+1:]
    return True

In [453]:
name_in_str("pippippi","Pippi")

True

Data Frame

In [ ]:
import pandas as pd

def max_common(df_a, df_b): 
    cola = df_a.columns.tolist()
    colb = df_b.columns.tolist()
    for a in 
    pass

In [468]:
df_a = pd.DataFrame(data=[[2.5, 2.0, 2.0], [2.0, 2.0, 2.0]], columns=list('ABC'))
df_b = pd.DataFrame(data=[[1.0, 6.0, 7.0, 1.0], [8.5, 1.0, 9.0, 1.0]], columns=list('CBDE'))

max_common(df_a, df_b)

AttributeError: 'list' object has no attribute 'intersection'